{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

<section class="logo-container">
  <div class="dog-container">
    <img src="{% static 'images/DALL·E 2024-02-28 16.33.32 - Design a logo for a dog collector website featuring a dog that resembles the uploaded photo. The dog should be stylized but capture the same essence a.webp' %}" alt="The Dog Collector Dog" />
  </div>

</section>

{% endblock %}